@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Charmonman|Courgette');
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #12100e;
  font-family: 'Amatic SC', cursive;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Courgette', cursive;
}
header{
  background-color: #2e0014;
  height: 70px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
/*  dentro del header hay un h1, mas explicito*/
header > h1{
  color: white;
  width: 20%;
  margin-left: 10%;
  /*  que se arrecargue a la izq*/
  float: left;
  line-height: 2;
}
header > nav{
  width: 50%;
  margin-left: 20%;
  display: inline-block;
}
header > nav > ul >li{
  width: 20%;
  display: inline-block;
  margin-left: -4px;
  /* quitar estilo */
  list-style: none;
  /* cambiar el interlineado */
  line-height: 2;
  /* decirle al contenedor */
  text-align: center;
}
header >nav >ul >li >a{
  color: white;
/*  1em=16px. 1rem=16px relativos*/
/* aqui se cambia el tamaño de inicio etc. */
  font-size:  1.7rem;
  text-decoration: none;
}
section{
  min-height: 500px;
}
section#Inicio{
  height: 90vh;
   padding-top: 70PX;
}
/* PALABRA MOVIES!! */
.caja >h2{
  text-align: left;

  color: white;
  font-size: 4rem;
  text-transform: uppercase;

  text-shadow: 3px 1px 4px rgba(11, 165, 179, 1);
}
/* palabra iniciooo */
.caja >h3{
  color: white;
  font-size: 1.3rem;
   text-transform: uppercase;
  text-shadow: 3px 1px 4px rgba(11, 165, 179, 1);
}
/* palabra novedad */
.caja >a.comprar{
  color: white;
  font-size: 1.3rem;
display: block;
width: 200px;
height: 30px;
text-decoration: none;
border: 2px solid white;
text-align: left;

}
/* donde estan las palabras */
.caja{
  margin-top: 200px;
  margin-left: 200px;
}
/* icono de flechita  */
.caja> a:last-child{
  color: white;
font-size: 3rem;
display: block;
margin-left: 50px;;
}
.Novedad{
  width: 20%;
  margin-left: 4%;
  background-color: #c4c6e7;
  min-height: 400px;
  float: left;
  margin-top: 10px;
  text-align: center;
  overflow: hidden;

}
.Novedad > img{
  width: 90%;
  margin-left: 5%;
  height: 300px;
  margin-top: 10px;
}
.Novedad > h3, .Novedad > p{
  text-align: center;
}
.Novedad > a{
  background-color: #2e0014;
  text-decoration: none;
  color: white;
  padding: 5px;
  text-align: center;
  line-height: 2;
  width: 150px;
  height: 50px;

}
.Novedad > .anim{
  background-color: rgba(3,0,0,0.5);
position: absolute;
margin-top: -150px;
height: 250px;
}
section#Categorias{
  background-image: url(../img/rentass.jpg);
  background-size: 50% auto;
  min-height: 200px;
  margin-top: 30px;
}
section#Categorias h3{
  color: black;
  text-align :center;
  font-size: 2.2rem;
  padding-top: 100px;
}
section#MisCompras .Formulario{
  width: 50%;
  float: left;
  margin-top: 30px;
}
section#MisCompras .Mapa{
  padding-top: 45px;
  width: 50%;
  float: left;
}
section#MisCompras .Formulario form{
padding: 10px;
  color: white;
}
section#MisCompras .Formulario form h3{
font-size: 2rem;
}
section#MisCompras .Formulario form fieldset{
margin-top: 10px;
border: none;
}
section#MisCompras .Formulario form fieldset label
{ display: block;
width: 100px;
}
section#MisCompras .Formulario form fieldset input[type="text"],
section#MisCompras .Formulario form fieldset textarea{
display: block;
width: 80%;
border: none;
background-color: white;
color: #52050A;
outline-color: #52050A;
height: 30px;
}
section#MisCompras .fomrulario form fieldset textarea{
height: 20px;
resize: none;
}
section#MisCompras .Formulario form fieldset input[type="submit"]{
background-color: white;
color: #52050A;
height: 30px;
border: none;
}
section#Peliculas >h1{
  color: white;
  font-size: 1.3rem;
  padding: 30px;
}
section#Series >h1{
  color: white;
  font-size: 1.3rem;
  padding: 30px;
}
section#Popular >h1{
  color: white;
  font-size: 1.3rem;
  padding: 30px;
}
section#MisCompras >h4{
  color: white;
  font-size: 1.3rem;
  display: block;
  width: 200px;
  height: 30px;
  text-decoration: none;
}
